{% extends "layout.html" %}

{% block content %}
{% for item in return_data %}
    <p class="text-left">{{ item['image_path'] }} successfully uploaded.</p>
    <div class="row">
        <div class="col-md-5">
            <div class="image-container">
                <p class="text-left">Original Image</p>     
                <a href="{{ item['image_path'] }}" target="_new"><img src="{{ item['image_path'] }}" class="upload-image-thumb"></a>
            </div>
        </div>
        <div class="col-md-7 ocr-text">
            <textarea cols="80" rows="60">{{ item['text'] }}</textarea>
        </div>
    </div>  
{% endfor %}
{% endblock %}